/* *{
    border:1px solid red;
} */
.signup-wrapper{
    width:100%;
    height:50%;
     
}
.signup-wrap{
    width:100%;
    height:40%;
    display:flex;
}
.signup-l img{
 width:100%;
 height:80%;
 
  
}
.signup-l, .signup-r{
    width:50%;
}
.signup-form{
    padding: 2rem;
}
 